<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Recipes</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
      <!-- Custom fonts -->
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">  

  <!-- CORE CSS--> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">
   
</head>

<body>
   <!-- Navigation -->
   <nav class="navbar navbar-expand-lg  fixed-top" style="background: rgba(20, 20, 20, 0);">
      <div class="container">
        <a class="navbar-brand" style="color:white;" href="index.html">YUMMY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" style="color:white; border-color:white;" class="btn  btn-lg" href="#"><b>LOGOUT</b></a>
            </li>
          </ul>
        </div>
       
      </div>
    </nav>
    <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">+</i></a>
    
<div class="col-md-12 z-depth-6 card-panel" style="float: left;">
  
       <div class="row margin">
                <div class="input-field col s4" style="padding-left: 20px;">
                    <div >
                        <h4>Strawberry</h4>
                      <img src="http://images.media-allrecipes.com/images/60583.png" alt="Appetizer Recipes" class="hero-link__item__image">&nbsp &nbsp
                      <h5>Time: 40 m</h5>
                    <h5><b>Ingridients</b></h5>
                     <h6>1 egg beaten</h6> <br> 
                    
                    <h5><b>Directions</b></h5>
                     <p>Place chicken strips into a large, resealable plastic bag.. <a href="">read more</a></p>
                         
                </div>
                <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons"><img src="img/edit.png"></img></i></a>&nbsp &nbsp
                <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"><img src="img/delete.png"></img></i></a>
                
              </div>
              <div class="input-field col s4" style="border-left: thick solid maroon; padding-left: 20px">
                    <div>
                        <h4>Meatballs</h4>
                         <img src="http://images.media-allrecipes.com/images/60629.png" alt="Appetizer Recipes" class="hero-link__item__image">&nbsp &nbsp
                         <h5>Time: 20 m</h5>
                    <h5><b>Ingridients</b></h5>
                     <h6>1 egg beaten</h6> <br>
    
                    <h5><b>Directions</b></h5>
                     <p>Place chicken strips into a large, resealable bag... <a href="">read more</a></p>
                         
                </div>
                <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons"><img src="img/edit.png"></img></i></a>&nbsp &nbsp 
                <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"><img src="img/delete.png"></img></i></a> 
              </div> 
              <div class="input-field col s4" style="border-left: thick solid maroon; padding-left: 20px">
                    <div style="padding-left: 20px;">
                        <h4>Ginger Veg</h4>
                        <img src="http://images.media-allrecipes.com/images/60592.png" alt="Healthy Recipes" class="hero-link__item__image">&nbsp &nbsp
                        <h5>Time: 30 m</h5>
                        <h5><b>Ingridients</b></h5>
                     <h6>1 tablespoon cornstarch</h6> <br>
           
                    <h5><b>Directions</b></h5>
                     <p>In a large bowl, blend cornstarch, garlic .. <a href="">read more</a></p>
                         
                </div>
                <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons"><img src="img/edit.png"></img></i></a>&nbsp &nbsp 
                <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"><img src="img/delete.png"></img></i></a> 
              </div> 
              <div class="input-field col s4" style="border-left: thick solid maroon; padding-left: 20px">
                
              <div>
                <h4>Strawberry</h4>
              <img src="http://images.media-allrecipes.com/images/60583.png" alt="Appetizer Recipes" class="hero-link__item__image">&nbsp &nbsp
              <h5>Time: 40 m</h5>
            <h5><b>Ingridients</b></h5>
             <h6>1 egg beaten</h6> <br> 
            
            <h5><b>Directions</b></h5>
             <p>Place chicken strips into a large, resealable plastic bag.. <a href="">read more</a></p>
                 
        </div>
        <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons"><img src="img/edit.png"></img></i></a>&nbsp &nbsp 
        <a href="addrecipe.html" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons"><img src="img/delete.png"></img></i></a>
        
      </div>            
    </div>  
  </div>
  </div>
        
    
<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

</html>