<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Signup</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="{{ url_for('static', filename = 'vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- CORE CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <!-- Custom styles -->
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg  fixed-top" style="background: rgba(20, 20, 20, 0);">
    <div class="container">
        <a class="navbar-brand" style="color:white;" href="{{ url_for('home') }}">YUMMY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>
{% if data%}

{% if data['message']['type'] == ''%}
<div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>{{ data['message']['msg'] }}</strong>
</div>
{% endif %}
{% endif %}

<ul class="tab-group">
    <li class="tab active"><a href="{{ url_for('register') }}">Sign Up</a></li>
    <li class="tab"><a href="{{ url_for('login') }}">Log In</a></li>
</ul>
<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form id="form" class="login-form" method="post" action="" data-parsley-validate>
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center login-form-text">Register Here</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="username" name="username" type="text"
                           value="{{ request.form['username'] }}" class="validate" >
                    <label for="username" class="center-align">Username</label>
                    {% if data%}

                    {% if data['message']['type'] == 'username_error'%}
<strong style="color: red; padding-left: 40px;" >{{ data['message']['msg'] }}</strong>
                    {% endif %}
{% endif %}
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-communication-email prefix"></i>
                    <input id="email" type="text" name="email"
                           value="{{ request.form['email'] }}" class="validate" >
                    <label for="email" class="center-align">Email</label>
                    {% if data%}

                    {% if data['message']['type'] == 'email_error'%}
    <strong style="color: red; padding-left: 40px;" >{{ data['message']['msg'] }}</strong>
                    {% endif %}
{% endif %}
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password" type="password" name="password"
                           value="{{ request.form['password'] }}" class="validate" >
                    <label for="password">Password</label>
                                  {% if data%}

                    {% if data['message']['type'] == 'password_error'%}
<strong style="color: red; padding-left: 40px;" >{{ data['message']['msg'] }}</strong>
                    {% endif %}
{% endif %}
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="password-again" name="password-again"
                           value="{{ request.form['password-again'] }}" type="password" >
                    <label for="password-again">Re-type password</label>
                                  {% if data%}

                    {% if data['message']['type'] == 'password_error'%}
<strong style="color: red; padding-left: 40px;" >{{ data['message']['msg'] }}</strong>
                    {% endif %}
{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12">Register Now</button>
                </div>

               <div class="input-field col s12">
                    <a href="{{ url_for('home') }}">
                   <button type="button" class="btn waves-effect waves-light col s12"
                           style=" background-color: #f44336;">Cancel</button></a>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s12">
                    <p class="margin center medium-small sign-up">Already have an account?
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a
                            href="{{ url_for('login') }}">Login</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- SCRIPTS -->
<script>
  $('#form').parsley();
</script>
<!-- JQuery -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/popper.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/mdb.min.js') }}"></script>

</body>

</html>